html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    text-decoration: none !important;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: inherit;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}
a{
    text-decoration: none !important;
}
li.nav-item{
    display: inline;
}
li.nav-item > a {
    color: #636b6f;
    padding: 0 10px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
    display: inline;
}
li.active{
    background-color: #d68888;
    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 5px;
    padding-left: 5px;
}
/*.m-b-md {
    margin-bottom: 30px;
}*/